<!DOCTYPE html>
<html>
  <head>
	<%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
	  <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
	  <%= render 'layouts/footer' %>
	  <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
